body{
    margin-left: 10px;
    padding: 10px;
    text-decoration: none;
    text-allign: center;
}

table tr td {
    padding-left: 50px;
}

table tr:nth-child(odd) {
    background-color: lightgray;
}

table tr:nth-child(even) {
    background-color: lightgray;
}

