@using ECommerceApi.Model
@model List<Orders>

@{
    ViewData["Title"] = "ProductView";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}
<body >
   
<table class="table" >
        <tr id="header">
         <th >
             OrderId
         </th>
         <th>
            CustomerId
        </th>
            <th>
            OrderDate
        </th>
         <th style="text-align:center">
            Action
      
        </th>
    </tr>


    @foreach (var item in Model)
    {
        <tr class="nav-item">
            <td>
                @item.OrderId
            </td>
            <td>
                @item.CustomerId
            </td>
       
            <td>
                @item.Orderdate
            </td>
              <td style="text-align:center">
                <a class="btn btn-primary" href="/Ordermvc/Update/@item.OrderId">Edit</a>
          
                <a class="btn btn-danger" onclick="deleteorder(@item.OrderId)">Delete</a>
            </td>
            
        </tr>
    }

  
</table>
</body>

<script>
  
</script>